/* .sidenav-container {
  height: 100%;
} */

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #e91e63;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inBetween {
  flex: 1 1 auto !important;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hidden {
  display: none;
}

@media (max-width: 960px) {
  .mat-toolbar a {
    display: none;
  }
}
