.sidenav {
  width: 200px;
}

.mat-nav-list button {
  border: none;
  background: none;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #e91e63;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar .items a {
  padding: 0;
  border: none;
  background: none;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}

.mat-toolbar .items button {
  padding: 0;
  border: none;
  background: none;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.inBetween {
  flex: 1 1 auto !important;
}

@media (max-width: 960px) {
  .items a {
    display: none;
  }
  .items button {
    display: none;
  }
}
